@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/Lato/Lato-Regular.eot');
  src: url('../fonts/Lato/Lato-Regular.woff2') format('woff2'),
       url('../fonts/Lato/Lato-Regular.woff') format('woff'),
       url('../fonts/Lato/Lato-Regular.ttf') format('truetype'),
       url('../fonts/Lato/Lato-Regular.svg#Lato-Regular') format('svg'),
       url('../fonts/Lato/Lato-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Hairline';
  src: url('../fonts/Lato/Lato-Hairline.eot');
  src: url('../fonts/Lato/Lato-Hairline.woff2') format('woff2'),
       url('../fonts/Lato/Lato-Hairline.woff') format('woff'),
       url('../fonts/Lato/Lato-Hairline.ttf') format('truetype'),
       url('../fonts/Lato/Lato-Hairline.svg#Lato-Hairline') format('svg'),
       url('../fonts/Lato/Lato-Hairline.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}